/* Our Fonts */
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/avenir-next-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Didot LT STD";
  src: url("../fonts/Didot-LT-Std-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Didot LT STD Italic";
  src: url("../fonts/Didot-LT-Std-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next Condensed Regular";
  src: url("../fonts/avenir-next-condensed-regular.otf") format ("opentype");
}

@font-face {
  font-family: "Avenir Next Condensed Demi Bold";
  src: url("../fonts/avenir-next-condensed-demi-bold.ttf") format ("truetype");
}

/* General Rules */
/* We remove default browser margin and padding because we want this to look like "fullscreen" */
/* We remove(make it hidden) overflow (hide all the scrolling) */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Start of Sreensaver.html */

/* Screensaver - the first thing you see when you start the solution */
.screensaver {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Making sure its full viewport height */
  display: grid;
  /* Simple two column grid to show logo on left and CTA on the right */
  grid-template-columns: 1fr 1fr;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 5rem;
  /* Adding some space from the edges of the screen so it's not "glued" to the edges */
  box-sizing: border-box;
  cursor: pointer;
  /* We use cursor to indicate interaction (even though hover is 
  not a thing on infoscreen, this can be useful when you open solution 
  on the desktop for example */
}

/* Copenhagen Fashion Week Logo */
.brand-mark {
  grid-column: 1 / 2;
  /* Just saying it will be in the first column of our grid */
  align-self: center;
  justify-self: start;
  height: auto;
  /* We want to keep the ratio of the image */
  margin-left: clamp(2rem, 10vw, 12.5rem);
  aspect-ratio: auto;
  width: clamp(400px, 60vw, 1600px);
  /* 3 parameters to "scale" better, takes 3 parameters (min, prefered and max allowed) */
  opacity: 0.7;
}

/* Call to Action "Start Exploring" */
.cta {
  position: absolute;
  /* We want it in the certain "spot" so we use absolute positioning */
  bottom: 20rem;
  /* our desired distance from bottom and right */
  right: 10rem;
  text-align: center;
  color: #fff;
}

.cta a {
  display: block;
  text-decoration: none;
  /* making sure there is no decoration since it's originally a link */
  border: none;
  font-size: clamp(2.5rem, 2vw + 0.5rem, 3rem);
  color: #fff;
  cursor: inherit;
  /* inherits the pointer from .screensaver */
  font-family: "Avenir Next Condensed Demi Bold", Arial, sans-serif;
  font-weight: 600;
}

.cta p {
  margin-top: 0.4rem;
  font-size: clamp(2rem, 1.5vw + 0.3rem, 2.5rem);
  opacity: 0.9;
  font-family: "Avenir Next", Arial, sans-serif;
}

/* Loader overlay */
/* Hidden at first but then shown using JS */
#loader {
  position: fixed;
  inset: 0;
  /* short for top:0; right:0; bottom:0; left:0: */
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  /* hidden by default and shown using JS */
  flex-direction: row;
  /* placing our svg and text next to each other in a row */
  align-items: center;
  /* vertical centering */
  justify-content: center;
  /* horizontal centering */
  gap: 1rem;
  /* spacing */
}

#loader img {
  width: 100px;
  /* our desired size of the SVG inside the loader */
  height: 100px;
}
/* End of Sreensaver.html */

/* START OF THE INDEX STYLING */
/* Navigation Bar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  z-index: 10;
}

.nav-logo {
  text-decoration: none;
}

.brand-icon {
  width: clamp(220px, 10vw, 320px);
  height: auto;
  opacity: 0.85;
}

.brand-icon:hover {
  opacity: 1;
  cursor: pointer;
}

/* Our Mission Button */
.mission-btn {
  grid-column: 1 / -1;
  width: 750px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
}

.mission-btn img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Homepage/Index.html layout */
.homepage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

/* Home Buttons with Images */
.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  row-gap: 2.5rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.home-btn {
  font-family: "Didot LT STD", Arial, sans-serif;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
}

.home-btn img {
  width: 100%;
  height: auto;
}

.home-btn>span {
  position: absolute;
  color: black;
  width: 90%;
  max-width: 90%;
  text-align: center;
  line-height: 1.2;
  font-size: clamp(1.4rem, 1.6vw + 0.2rem, 2.5rem);
}

.quiz-title .quiz-the {
  font-family: "Didot LT STD", Arial, sans-serif;
  font-size: 1.625rem;
  letter-spacing: 0.08em;
}

.quiz-title .quiz-me {
  font-family: "Didot LT STD Italic", serif;
  font-style: italic;
  font-weight: normal;
}

/* Only apply square sizing to the 3 lower buttons */
.button-grid a:not(.mission-btn) {
  width: clamp(300px, 30vw, 450px);
  height: clamp(300px, 30vw, 450px);
}

.button-grid a:not(.mission-btn) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mission-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-grid a:nth-child(2) span {
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  top: auto;
}

.button-grid a:nth-child(3) span {
  top: 18%;
  left: 50%;
  transform: translate(-50%, -35%);
  bottom: auto;
}

.button-grid a:nth-child(4) span {
  top: 18%;
  left: 50%;
  transform: translate(-50%, -35%);
  bottom: auto;
}

/*---Quiz Page---*/
.quiz-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.quiz-grid h1 {
  font-size: 100px;
  color: white;
  text-transform: uppercase;
}

.quiz-btn {
  display: inline-block;
  margin-top: 16rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: rgb(7, 7, 7);
  background-color: #ffffff;
  opacity: 0.65;
  text-decoration: none;
  border-radius: 40px;
}

/* Start of Materials Page */

.homepage-materials {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.homepage-materials h1 {
  font-family: "Didot LT STD", serif;
  font-size: clamp(4rem, 2.5vw + 0.5rem, 8.125rem);
  letter-spacing: 0.05em;
  margin-bottom: 4rem;
  color: white;
  text-transform: uppercase;
}

/* Transparent box behind material images */
.materials-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  padding: 3rem;
  z-index: 2; /* keeps content above the overlay */
}

/* The semi-transparent box */
.materials-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(217, 217, 217, 0.4); /* light transparent white */
  z-index: -1; /* places it behind the buttons */
}

.materials-grid a {
  width: clamp(200px, 30vw, 350px);
  height: clamp(200px, 30vw, 350px);
}

.materials-grid a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.materials-grid a span {
  top: 18%;
  left: 50%;
  transform: translate(-50%, -35%);
  bottom: auto;
}

























/* --- Large screens down to laptops --- */
@media (max-width: 1700px) and (min-width: 1251px) {

  .homepage {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .cta {
    position: absolute;
    text-align: center;
    top: 25rem;
    right: 1rem;
    width: 400px;
  }

  .cta a {
    font-size: 2rem;
  }

  .cta p {
    font-size: 1.5rem;
  }

  .button-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    max-width: 1100px;
    justify-content: center;
  }

  .button-grid a:not(.mission-btn) {
    width: 30vw;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    max-height: 300px;
  }

  .mission-btn {
    width: clamp(520px, 60vw, 680px);
    height: 100px;
  }

  .brand-icon {
    width: clamp(160px, 9vw, 240px);
  }
}

/* --- Laptop screens --- */
@media (max-width: 1250px) and (min-width: 901px) {

  .homepage {
    height: 100vh;
    overflow: hidden;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }

  .button-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
    max-width: 850px;
    justify-content: center;
    align-items: center;
  }

  .button-grid a:not(.mission-btn) {
    width: 28vw;
    max-width: 320px;
    aspect-ratio: 1 / 1;
  }

  .mission-btn {
    width: clamp(440px, 60vw, 600px);
    height: 80px;
  }

  .brand-icon {
    width: clamp(130px, 9vw, 200px);
  }
}

/*--- Small screens ---*/
@media (max-width: 900px) {

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  .homepage {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    background-attachment: scroll;
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  .quiz-btn {
    margin-top: 8rem;
  }

  .screensaver {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 2rem;
  }

  .cta {
    position: static;
    text-align: center;
    margin-top: 2rem;
  }

  .brand-mark {
    margin-left: 0;
    justify-self: center;
  }

  .button-grid {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-items: center;
  }

  .mission-btn {
    grid-column: 1;
    max-width: 400px;
  }

  .section-title {
    margin-bottom: 2rem;
  }

  .brand-icon {
    width: 140px;
  }

  .home-btn span {
    font-size: 2rem;
  }

  .button-grid a:not(.mission-btn) {
    width: 90vw;
    max-width: 400px;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
  }
}