/* General Rules */
/* We remove default browser margin and padding because we want this to look like "fullscreen" */
/* We remove(make it hidden) overflow (hide all the scrolling) */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Screensaver - the first thing you see when you start the solution */
.screensaver {
  position: relative;
  width: 100%;
  height: 100vh; /* Making sure its full viewport height */
  display: grid; /* Simple two column grid to show logo on left and CTA on the right */
  grid-template-columns: 1fr 1fr;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 5rem; /* Adding some space from the edges of the screen so it's not "glued" to the edges */
  box-sizing: border-box;
  cursor: pointer; 
  /* We use cursor to indicate interaction (even though hover is 
  not a thing on infoscreen, this can be useful when you open solution 
  on the desktop for example */
}

/* Copenhagen Fashion Week Logo */
.brand-mark {
  grid-column: 1 / 2; /* Just saying it will be in the first column of our grid */
  align-self: center;
  justify-self: start;
  max-width: clamp(250px, 40vw, 650px); /* 3 parameters to "scale" better, takes 3 parameters (min, prefered and max allowed) */
  height: auto; /* We want to keep the ratio of the image */
}

/* Call to Action "Start Exploring" */
.cta {
  position: absolute; /* We want it in the certain "spot" so we use absolute positioning */
  bottom: 20rem; /* our desired distance from bottom and right */
  right: 20rem;
  text-align: center;
  color: #fff;
}

.cta a {
  display: block;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-decoration: none; /* making sure there is no decoration since it's originally a link */
  border: none;
  font-size: 1rem;
  color: #fff;
  cursor: inherit; /* inherits the pointer from .screensaver */
}

.cta p {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  opacity: 0.9;
}

/* Loader overlay */
/* Hidden at first but then shown using JS */
#loader {
  position: fixed;
  inset: 0; /* short for top:0; right:0; bottom:0; left:0: */
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: none; /* hidden by default and shown using JS */
  flex-direction: row; /* placing our svg and text next to each other in a row */
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
  gap: 1rem; /* spacing */
}

#loader img {
  width: 100px; /* our desired size of the SVG inside the loader */
  height: 100px;
}

/* Responsiveness */
@media (max-width: 900px) {
  .screensaver {
    grid-template-columns: 1fr; /* one column grid/layout */
    justify-items: center; /* centering it all horizontally */
    padding: 2rem;
  }

  .cta {
    position: static;
    text-align: center;
    margin-top: 2rem;
  }
}
