/* Our Fonts */
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/avenir-next-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Didot LT STD";
  src: url("../fonts/Didot-LT-Std-Bold.otf") format("opentype");
}


/* General Rules */
/* We remove default browser margin and padding because we want this to look like "fullscreen" */
/* We remove(make it hidden) overflow (hide all the scrolling) */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Screensaver - the first thing you see when you start the solution */
.screensaver {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Making sure its full viewport height */
  display: grid;
  /* Simple two column grid to show logo on left and CTA on the right */
  grid-template-columns: 1fr 1fr;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 5rem;
  /* Adding some space from the edges of the screen so it's not "glued" to the edges */
  box-sizing: border-box;
  cursor: pointer;
  /* We use cursor to indicate interaction (even though hover is 
  not a thing on infoscreen, this can be useful when you open solution 
  on the desktop for example */
}

/* Copenhagen Fashion Week Logo */
.brand-mark {
  grid-column: 1 / 2;
  /* Just saying it will be in the first column of our grid */
  align-self: center;
  justify-self: start;
  height: auto;
  /* We want to keep the ratio of the image */
  margin-left: clamp(2rem, 10vw, 12.5rem);
  aspect-ratio: auto;
  width: clamp(400px, 60vw, 1600px);
  /* 3 parameters to "scale" better, takes 3 parameters (min, prefered and max allowed) */
  opacity: 0.7;
}

/* Call to Action "Start Exploring" */
.cta {
  position: absolute;
  /* We want it in the certain "spot" so we use absolute positioning */
  bottom: 20rem;
  /* our desired distance from bottom and right */
  right: 10rem;
  text-align: center;
  color: #fff;
}

.cta a {
  display: block;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-decoration: none;
  /* making sure there is no decoration since it's originally a link */
  border: none;
  font-size: clamp(2.5rem, 2vw + 0.5rem, 3rem);
  color: #fff;
  cursor: inherit;
  /* inherits the pointer from .screensaver */
  font-family: "Avenir Next", Arial, sans-serif;
}

.cta p {
  margin-top: 0.4rem;
  font-size: clamp(2rem, 1.5vw + 0.3rem, 2.5rem);
  opacity: 0.9;
  font-family: "Avenir Next", Arial, sans-serif;
}

/* Loader overlay */
/* Hidden at first but then shown using JS */
#loader {
  position: fixed;
  inset: 0;
  /* short for top:0; right:0; bottom:0; left:0: */
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  /* hidden by default and shown using JS */
  flex-direction: row;
  /* placing our svg and text next to each other in a row */
  align-items: center;
  /* vertical centering */
  justify-content: center;
  /* horizontal centering */
  gap: 1rem;
  /* spacing */
}

#loader img {
  width: 100px;
  /* our desired size of the SVG inside the loader */
  height: 100px;
}

/* START OF THE INDEX STYLING */
/* Navigation Bar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  z-index: 10;
}

.nav-logo {
  text-decoration: none;
}

.brand-icon {
  width: clamp(220px, 10vw, 320px);
  height: auto;
  opacity: 0.85;
}

.brand-icon:hover {
  opacity: 1;
  cursor: pointer;
}

/* Our Mission Button */
.mission-btn {
  grid-column: 1 / -1;
  width: 750px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
}

.mission-btn img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Homepage/Index.html layout */
.homepage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

/* Home Buttons with Images */
.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 4rem; /* simple column spacing between our main buttons */
  row-gap: 2.5rem; /* simple column spacing between our main buttons */
  width: min(90%, 1200px);
}

.home-btn {
  font-family: "Didot LT STD", Arial, sans-serif;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
}

.home-btn img {
  width: 100%;
  height: auto;
}

.home-btn span {
  position: absolute;
  bottom: 1.5rem;
  padding: 0.7rem 1rem;
}

/* Other 3 buttons text */
.home-btn span {
  font-size: clamp(1.4rem, 1.6vw + 0.2rem, 2rem);
  color: black;
}

.mission-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(1.6rem, 2vw + 0.3rem, 2.5rem);
}

.button-grid a:nth-child(2) span {
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  top: auto;
}

.button-grid a:nth-child(3) span {
  top: 18%;
  left: 50%;
  transform: translate(-50%, -35%);
  bottom: auto;
}

.button-grid a:nth-child(4) span {
  top: 18%;
  left: 50%;
  transform: translate(-50%, -35%);
  bottom: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #D9D9D9;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
}

.designer-carousel {
  display: flex;
  gap: 20rem;
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
  padding: 0 6rem;
}

.designer-carousel a {
  text-decoration: none;
  color: black;
  font-family: "Didot LT STD", serif;
  font-size: clamp(1.8rem, 1.2vw + 0.3rem, 2.2rem);
  letter-spacing: 0.15em;
  transition: opacity 0.3s;
}

.designer-carousel a:hover {
  opacity: 0.5;
}


/*--- Responsiveness ---*/
@media (max-width: 900px) {

  html,
  body {
    overflow: auto;
    height: auto;
  }

  .homepage {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    background-attachment: scroll;
    /* Making sure background scrolls on small screen otherwise it would be white space as background doesn't cover it */
    padding-bottom: 2rem;
  }

  .screensaver {
    grid-template-columns: 1fr;
    /* one column grid/layout */
    justify-items: center;
    /* centering it all horizontally */
    padding: 2rem;
  }

  .cta {
    position: static;
    text-align: center;
    margin-top: 2rem;
  }

  .brand-mark {
    margin-left: 0;
    justify-self: center;
  }

  .button-grid {
    grid-template-columns: 1fr;
  }

  .mission-btn {
    grid-column: 1;
  }

  .section-title {
    margin-bottom: 2rem;
  }

  .brand-icon {
    width: 140px;
  }

  .home-btn span {
    font-size: 2rem;
  }
}